#category-bar
    .category-bar-items#category-bar-items
        .category-bar-item(id='首页')
            a(href="/") 首页
        .category-bar-item(id='博客相关')
            a(href="/categories/博客相关/") 博客相关
        .category-bar-item(id='编程语言')
            a(href="/categories/编程语言/") 编程语言
        .category-bar-item(id='航空航天')
            a(href="/categories/航空航天/") 航空航天
        .category-bar-item(id='全部分类') 
            a(href="/categories/") 全部分类
    //- a.category-bar-more(id='全部分类',href="/categories/") 全部分类